<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
<mapEntry key="FORGE_VERSION" value="14.23.5.2854"/>
<mapEntry key="MCP_MAPPINGS" value="snapshot_20171003-1.12"/>
<mapEntry key="MCP_TO_SRG" value="C:\Users\DAMIEN\Desktop\Développement Minecraft\Minecraft\Dofusia Core Mod\build\createSrgToMcp\output.srg"/>
<mapEntry key="MC_VERSION" value="${MC_VERSION}"/>
<mapEntry key="MOD_CLASSES" value="C:\Users\DAMIEN\Desktop\Développement Minecraft\Minecraft\Dofusia Core Mod\bin\main;C:\Users\DAMIEN\Desktop\Développement Minecraft\Minecraft\Dofusia Core Mod\bin\main"/>
<mapEntry key="mainClass" value="net.minecraft.launchwrapper.Launch"/>
<mapEntry key="tweakClass" value="net.minecraftforge.fml.common.launcher.FMLServerTweaker"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.buildship.core.classpathprovider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.legacydev.MainServer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=""/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Dofusia Core Mod"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\DAMIEN\Desktop\Développement Minecraft\Minecraft\Dofusia Core Mod\run"/>
</launchConfiguration>
